.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: calc(10px + 2vmin);
  background-color: #191414;
}

.title {
  color: #FFFFFF;
}

.test{
  width:50px;
  height: 50px;
}

.playlist{
  color: #FFFFFF;
  text-decoration: underline #1DB954;
}

.App-logo {
  margin-top: 15px;
  animation: App-logo-spin infinite 5s linear;
  height: 60px;
  pointer-events: none;
}

.App-header {
  background-color: #191414;
  
  justify-content: center;
  
  color: white;
}

/* Display playlist */

.box{
  color: #FFFFFF;
  padding: 15px;
  margin-top: 30px;
  height: fit-content;
  width: fit-content;
  border: 3px dashed #1DB954;
  border-radius: 10px;
}


/* Search box, select a playlist */

.form-control{
  flex-wrap: nowrap;
  background-color: transparent;
  color: #FFFFFF;
  flex-direction: row;
  margin: 15px;
  height: 25px;
  width: fit-content;
}

.search{
  display: flex;
  width: fit-content ;
  flex-wrap: nowrap;
  flex-direction: row;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
